*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
 
}
html{
    scroll-behavior: smooth;
}
/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Crimson+Text:ital@1&family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
:root{
    --font1:'Baloo Tammudu 2', cursive;
    --font2:'Hammersmith One', sans-serif;
}
.h2{
    font-size: 35px;
    font-family: var(--font1);
    margin-bottom: 1rem;

}
.m-auto{
 margin:auto;
}
.h1{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 12rem;
    margin-bottom: 2rem;
    font-family: var(--font2);
    font-size: 3.5rem;
}
.h3{
   
    margin-bottom: 2rem;
    font-family: var(--font2);
    font-size: 2.5rem;  
}
.btn{
  
    padding:12px 13px;
    border-color: black;
    border-radius: 10px;
    margin-left:10rem;
}
.btn:hover{
    background-color:rgb(190, 235, 102);
}